<!DOCTYPE html>
<html>
    <head>
        <title>Project CRUD Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@3.4.27/dist/vue.global.prod.js"></script>
    </head>
    <body>
        <div id="app">
            <header>Project CRUD Application</header>

            <main>
                <button @click="showProjectModal(null)">Add project</button>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Commentary</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="project in projects" :key="project.id">
                            <td>{{ project.name }}</td>
                            <td>{{ project.commentary }}</td>
                            <td>{{ project.description }}</td>
                            <td>
                                <button @click="showProjectModal(project)">Edit</button>
                                <button @click="deleteProject(project.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav style="display: flex; justify-content: center; margin-top: 20px;">
                    <ul style="display: flex; list-style: none; padding: 0;">
                        <li v-for="page in totalPages" :key="page" @click="changePage(page)" style="margin: 0 5px;">
                            <a href="#" :style="{ fontWeight: currentPage === page ? 'bold' : 'normal', cursor: 'pointer' }">{{ page }}</a>
                        </li>
                    </ul>
                </nav>
            </main>

            <footer>
                <p>2025 Project CRUD Application.</p>
            </footer>

            <dialog id="project-dialog">
                <h2>Project</h2>
                <form @submit.prevent="saveProject">
                    <fieldset>
                        <label for="name">Name</label><input type="text" id="name" v-model="formData.name" placeHolder="Name" required>
                        <label for="commentary">Commentary</label><input type="text" id="commentary" v-model="formData.commentary" placeHolder="Commentary" required>
                        <label for="description">Description</label><input type="text" id="description" v-model="formData.description" placeHolder="Description" required>
                    </fieldset>
                    <menu>
                        <button type="submit">Submit</button>
                        <button type="button" @click="closeModal">Cancel</button>
                    </menu>
                </form>
            </dialog>
        </div>

        <script>
            const {createApp, ref, computed} = Vue;

            createApp({
                data() {
                    return {
                        projects: [],
                        modalVisible: false,
                        editMode: false,
                        formData: {
                            name: '',
                            commentary: '',
                            description: ''
                        },
                        editedProjectId: null,
                        pageSize: 5,
                        currentPage: 1,
                        totalPages: 1
                    };
                },
                methods: {
                    getAllProjects(page) {
                        fetch(`/api/projects?page=${page - 1}&size=${this.pageSize}` )
                                .then(response => response.json())
                                .then(data => {
                                    this.projects = data.content;
                                    this.totalPages = data.totalPages;
                                })
                                .catch(error => {
                                    console.error('Error fetching projects:', error);
                                });
                    },
                    showProjectModal(project) {
                        this.editMode = !!project;
                        this.modalVisible = true;
                        if (project) {
                            this.editedProjectId = project.id;
                            this.formData = {...project};
                        } else {
                            this.resetForm();
                        }
                        document.getElementById('project-dialog').showModal();
                    },
                    saveProject() {
                        if (this.editMode) {
                            fetch(`/api/projects/${this.editedProjectId}`, {
                                method: 'PUT',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(this.formData)
                            })
                                    .then(() => {
                                        this.getAllProjects(this.currentPage);
                                        this.closeModal();
                                    })
                                    .catch(error => {
                                        console.error('Error updating project:', error);
                                    });
                        } else {
                            fetch(`/api/projects`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(this.formData)
                            })
                                    .then(() => {
                                        this.getAllProjects(this.currentPage);
                                        this.closeModal();
                                    })
                                    .catch(error => {
                                        console.error('Error adding project:', error);
                                    });
                        }
                    },
                    deleteProject(projectId) {
                        fetch(`/api/projects/${projectId}`, {
                            method: 'DELETE'
                        })
                                .then(() => {
                                    this.getAllProjects(this.currentPage);
                                })
                                .catch(error => {
                                    console.error('Error deleting project:', error);
                                });
                    },
                    closeModal() {
                        this.modalVisible = false;
                        this.editMode = false;
                        this.resetForm();
                        document.getElementById('project-dialog').close();
                    },
                    resetForm() {
                        this.formData = {
                            name: '',
                            description: '',
                            commentary: ''
                        };
                        this.editedProjectId = null;
                    },
                    changePage(page) {
                        this.currentPage = page;
                        this.getAllPersons(page);
                    }
                },
                mounted() {
                    this.getAllProjects(this.currentPage);
                }
            }).mount('#app');


        </script>
    </body>
</html>
